/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 *	Vertical align
 *	@exemple
 		<div class="vcenter"><!--
			--><span class="item empty"></span><!--
			--><span class="item">Centered</span><!--
		--></div>
 */
.vcenter > .item {
  vertical-align: middle;
  display: inline-block;
}
.vcenter > .item.empty {
  width: 0;
  height: 100%;
}
/*
 * Hide visually and from screen readers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
div#all header {
  position: relative;
  z-index: 99;
  background: #fefefe;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
div#all header form {
  background: #e6e6e6;
  display: block;
  float: right;
  padding-bottom: 2px;
}
div#all header form fieldset {
  display: block;
  float: left;
  border: none;
}
div#all header form fieldset legend {
  display: block;
  float: left;
  font-size: 13px;
  margin: 10px 0px 0px 10px;
}
div#all header form fieldset input,
div#all header form fieldset select {
  display: block;
  float: left;
}
div#all header form fieldset input[type=checkbox] {
  margin: 12px 0px 0px 0px;
}
div#all header form fieldset select {
  margin: 8px 0px 0px 12px;
}
div#all header div#fps {
  background: #1a1a1a;
  display: block;
  float: right;
  padding: 0px 10px 7px 0px;
}
div#all header h1 {
  font-size: 16px;
  padding-left: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
article#home section {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
article#home section figure {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}
article#home section figure figcaption {
  display: inline-block;
  position: relative;
  padding: 20px 30px;
  margin-top: 10px;
  background: #fefefe;
  color: #333;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
article#home section figure .frame {
  border: 10px solid #fefefe;
}
article#home section figure div.container .domcontainer {
  display: none;
  position: absolute;
}
article#home section figure div.container .domcontainer .domframe {
  position: relative;
}
article#home section#gif {
  background: #db3541;
}
article#home section#gif img {
  display: block;
}
article#home section#gif.fullscreen span.item {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
article#home section#gif.fullscreen img {
  width: 100%;
  height: auto;
  border: none;
}
article#home section#spritesheet {
  background: #26d93e;
}
article#home section#spritesheet canvas {
  display: block;
}
article#home section#dom {
  background: #3e26d9;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22static%2Fstyles%2Fless%2Fapp%2Fglobal%2Futils.less%22%2C%22static%2Fstyles%2Fless%2Fapp%2Fpages%2Fhome.less%22%2C%22static%2Fstyles%2Fless%2Fvendor%2Felements.less%22%2C%22static%2Fstyles%2Fless%2Fapp%2Fglobal%2Fmixins.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAUC%2CQAAC%3BEAEA%2CsBAAA%3BEACA%2CqBAAA%3B%3BAACA%2CQAJA%2CQAIC%3BEAEA%2CQAAA%3BEACA%2CYAAA%3B%3B%3B%3B%3BAAUH%3BEACI%2CwBAAA%3BEACA%2CkBAAA%3B%3B%3B%3B%3BAAOJ%3BEACI%2CSAAA%3BEACA%2CMAAM%2CaAAN%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3B%3B%3B%3B%3BAAQJ%2CeAAe%2CUAAU%3BAACzB%2CeAAe%2CUAAU%3BEACrB%2CUAAA%3BEACA%2CYAAA%3BEACA%2CSAAA%3BEACA%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3B%3B%3B%3B%3BAAOJ%3BEACI%2CkBAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAeJ%2CSAAS%3BAACT%2CSAAS%3BEACL%2CSAAS%2CGAAT%3B%3BEACA%2CcAAA%3B%3B%3BAAGJ%2CSAAS%3BEACL%2CWAAA%3B%3BACzFJ%2CGAAG%2CIAEF%3BEAEC%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3BEC0CA%2CmDAAA%3BEACA%2CgDAAA%3BEACA%2C2CAAA%3BECrCD%2CaAAa%2CWAAb%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CmCAAA%3B%3BAFhBD%2CGAAG%2CIAEF%2COASC%3BEAEC%2CmBAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CmBAAA%3B%3BAAhBH%2CGAAG%2CIAEF%2COASC%2CKAOC%3BEAEC%2CcAAA%3BEACA%2CWAAA%3BEAEA%2CYAAA%3B%3BAAvBJ%2CGAAG%2CIAEF%2COASC%2CKAOC%2CSAOC%3BEAEC%2CcAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEAEA%2CyBAAA%3B%3BAA%2FBL%2CGAAG%2CIAEF%2COASC%2CKAOC%2CSAgBC%3BAAlCJ%2CGAAG%2CIAEF%2COASC%2CKAOC%2CSAgBQ%3BEAEN%2CcAAA%3BEACA%2CWAAA%3B%3BAArCL%2CGAAG%2CIAEF%2COASC%2CKAOC%2CSAsBC%2CMAAK%3BEAEJ%2CwBAAA%3B%3BAA1CL%2CGAAG%2CIAEF%2COASC%2CKAOC%2CSA2BC%3BEAEC%2CwBAAA%3B%3BAA%2FCL%2CGAAG%2CIAEF%2COAmDC%2CIAAG%3BEAEF%2CmBAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3B%3BAA1DH%2CGAAG%2CIAEF%2COA2DC%3BEAEC%2CeAAA%3BEACA%2CkBAAA%3BEEnDF%2CaAAa%2CWAAb%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CmCAAA%3B%3BAFuDD%2COAAO%2CKAEN%3BEAEC%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CQAAA%3BEACA%2CSAAA%3B%3BAATF%2COAAO%2CKAEN%2CQASC%3BEAEC%2CqBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3B%3BAAhBH%2COAAO%2CKAEN%2CQASC%2COAOC%3BEAEC%2CqBAAA%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEAEA%2CWAAA%3BEEpFH%2CaAAa%2CWAAb%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CmCAAA%3BEDgCC%2CmDAAA%3BEACA%2CgDAAA%3BEACA%2C2CAAA%3B%3BADqBF%2COAAO%2CKAEN%2CQASC%2COAqBC%3BEAEC%2C0BAAA%3B%3BAAlCJ%2COAAO%2CKAEN%2CQASC%2COA0BC%2CIAAG%2CUAEF%3BEAEC%2CaAAA%3BEACA%2CkBAAA%3B%3BAA1CL%2COAAO%2CKAEN%2CQASC%2COA0BC%2CIAAG%2CUAEF%2CcAKC%3BEAEC%2CkBAAA%3B%3BAAYJ%2COA1DK%2CKAEN%2CQAwDE%3BEAEA%2CmBAAA%3B%3BAAFD%2COA1DK%2CKAEN%2CQAwDE%2CIAIA%3BEAEC%2CcAAA%3B%3BAAGD%2COAnEI%2CKAEN%2CQAwDE%2CIASC%2CWAEA%2CKAAI%3BEAEH%2CWAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CSAAA%3B%3BAATF%2COAnEI%2CKAEN%2CQAwDE%2CIASC%2CWAYA%3BEAEC%2CWAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3B%3BAAKH%2COAxFK%2CKAEN%2CQAsFE%3BEAEA%2CmBAAA%3B%3BAAFD%2COAxFK%2CKAEN%2CQAsFE%2CYAIA%3BEAEC%2CcAAA%3B%3BAAIF%2COAlGK%2CKAEN%2CQAgGE%3BEAEA%2CmBAAA%22%7D */